/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: auto;
    cursor: auto;
    font-family: 'roboto', sans-serif;
    background: #fff;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
} */

/* ------------------------------- RESET ------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    outline: none;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="text"],
input[type="submit"],
textarea {
    -webkit-appearance: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition:
        color 9999s ease-out,
        background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}
select {
    outline: 0;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
:focus {
    outline: none;
}

input::placeholder {
    font-size: 16px;
    color: #092e44;
}
input[type="text"] {
    width: 300px;
    height: 56px;
    padding: 4px 16px;
    font-size: 16px;
    color: #092e44;
    background-color: transparent;
    border: 1px solid #abbcc6;
    border-radius: 8px;
}
input[type="text"] + label,
input[type="email"] + label {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
}
input[type="text"] + .validation-success:before {
    content: url("../img/check.svg");
    position: absolute;
    left: -60px;
}
input[type="text"] + .validation-error:before {
    content: "\2613";
    color: #eb5757;
    position: absolute;
    left: -60px;
}

@media only screen and (max-width: 700px) {
    input[type="text"] {
        width: 100% !important;
        height: 56px;
        padding: 4px 16px;
        margin-right: 0 !important;
    }
    input[type="text"] + .validation-success:before,
    input[type="text"] + .validation-error:before {
        left: -30px !important;
    }
}

/* ------------------------------- BASE STYLES ------------------------------- */

body {
    font-family: "roboto", sans-serif;
    background: #fff;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
}
img {
    width: 100%;
}
.dn {
    display: none;
}
.h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 16px;
}

.container {
    width: 100%;
    margin: 0;
    position: relative;
    display: table;
    vertical-align: top;
    padding: 0 60px 0 156px;
}
.container_block {
    width: 100%;
    display: inline-block;
}

.checkbox {
    display: none;
}
.checkbox + label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
}
.checkbox + label:before {
    margin-right: 14px;
    border: 1px solid #abbcc6;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    vertical-align: middle;
    position: absolute;
    top: 3px;
    left: 0;
}
.checkbox[type="checkbox"]:checked + label:before {
    background-color: #34a8e9;
    border-color: #34a8e9;
    content: url("../images/checked.svg");
    text-align: center;
}
.checkbox + label > span {
    padding-left: 36px;
    display: block;
    font-size: 12px;
    line-height: 120%;
}
.label_txt {
    display: table-cell;
}

sup {
    top: -0.5em;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {
    .container {
        padding: 0 15px;
    }
    .h2 {
        font-size: 24px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 700px) {
    .h2 {
        font-size: 22px;
    }
    .label_txt {
        max-width: 300px;
    }
    .checkbox + label:before {
        top: -2px;
    }
}
